body {
  background: rgb(197, 196, 196);
  display: flex;
  justify-content: center;
  padding: 1rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.title {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 5px #026c3d;
  display: flex;
  justify-content: space-between;
}

.title > button {
  background-color: #00522e;
  border: none;
  color: #f9f6ee;
  font-size: 1.5rem;
  margin-right: 1.25rem;

  padding: 0.5rem;
}
.form {
  padding: 1rem;
}

.allforms,
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #f9f6ee;
  width: 400px;
}
.firstform,
.secondform,
.thirdform {
  background: #00522e;
  border-radius: 1rem;
}
.form button {
  background: #f9f6ee;
}
.dateinandout {
  display: flex;
  justify-content: space-between;
}
.dateinandout label {
  display: flex;
  flex-direction: column;
  width: 45%;
}

input,
textarea {
  display: block;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.25rem;
  background: #f9f6ee;
  width: 100%;
}
.buttons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
.formbuttons {
  padding: 0.5rem;
  font-size: 1rem;
  max-width: fit-content;
  border-radius: 0.5rem;
  color: #00522e;
  border: none;
  margin-top: 0.5rem;
}

.hideform {
  height: 0px;
  padding: 0 1rem;
  overflow: hidden;
}
.showform {
  height: fit-content;
  padding: 1rem;
}
